@page
@model IndexModel
@{
    ViewData["Title"] = "Cash Flow Balancer";
}

@*

    Made in 2022 by Joe Doherty
*@


<link rel="stylesheet" href="~/css/cashFlowStyles.css" asp-append-version="true" />

<div class="cbBody">
    <div class="title">
        <h1 id="secretButton">Welcome</h1>
        <p><strong>Today's Date: </strong><span id="today"></span></p>
    </div>
    <div class="menu">

        <div class="container">
            <div class="stats">
                <h4>Stats:</h4>
                <ul>
                    <li>Expected Income this Month: $<span id="monthlyIncome"></span></li>
                    <li>Total Monthly Expenses: $<span id="monthlyExpenses"> </span></li>
                    <li>Monthly Profit: $<span id="monthlyProfit"> </span></li>
                    <li>Fortnight Budget: $<span id="fortnightBudget"></span></li>
                    <li style="visibility:hidden;"></li>
                    <li>Current Fortnight: <span id="currentFortnight"> </span></li>
                    <li>Income Per Fortnight: $<span id="totalIncome"> </span></li>
                    <li>Amount Due This Fortnight: $<span  id="fortnight1Expenses"> </span></li>
                    <li>Profit This Fortnight: $<span id="thisFortnightProfit"></span></li>
                    <li style="visibility:hidden;"></li>
                    <li>Days Remaining: <span id="daysRemaining"> </span></li>
                    <li>Next Paycheck: <span id="nextPaycheck"> </span></li>
                    <li>Amount Due Next Fortnight: <span id="fortnight2Expenses"> </span></li>
                </ul>
            </div>


        <div class="optionsContainer">
            <div class="options">
                <h4>Information: <span id="activeFortnight"></span><span id="fortnightInfo"></span></h4>
                <ul class="optionsUl">
                    <li class="btn" id="billsDueFortnight1">Fortnight 1: $<span id="fortnight1Cost"></span></li>
                    <li class="btn" id="billsDueFortnight2">Fortnight 2: $<span id="fortnight2Cost"></span></li>
                    <li class="btn" id="billsDueFortnight3">Fortnight 3: $<span id="fortnight3Cost"></span></li>
                    <li class="btn" id="billsDueFortnight4">Fortnight 4: $<span id="fortnight4Cost"></span></li>
                    <li class="btn" id="billList">All Bills</li>
                    <li class="btn" style="display: none">Add/Update Bill</li>
                    <li class="btn" style="display: none">Add/Update Paycheck</li>
                </ul>
            </div>
                <div class="dropdownArea">
                        <div>
                            <div id="billsDueFortnight1DropDown" class="dropDown" style="display: none"></div>
                        </div>
                        <div>
                            <div id="billsDueFortnight2DropDown" class="dropDown" style="display: none"></div>
                        </div>
                        <div>
                            <div id="billsDueFortnight3DropDown" class="dropDown" style="display: none"></div>
                        </div>
                        <div>
                            <div id="billsDueFortnight4DropDown" class="dropDown" style="display: none"></div>
                        </div>
                        <div>
                            <div id="allBillsDropDown" class="dropDown" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@* <script src="~/js/cashFlowController.js" asp-append-version="true"></script> *@
<script src="~/js/cashFlowModel.js" asp-append-version="true"></script>