@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*
    Welcome to the Cash Flow Balancer
    This program is going to have a few important classes
    Most of the code I want to do in C#, but I'm not sure how effective this is going to be.
    I'm hoping to avoid Javascript as much as possible.
    We will see what happens.

    Made in 2022 by Joe Doherty
*@



<div class="text-center">
    <h1 class="display-4">Welcome to the Cash Flow Balancer</h1>
    <p>This is an ongoing project to practice using Razor, Javascript, C#, and all that</p>
    <p>It's also a functional tool that I intend to use and release</p>
</div>
