@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*

    Made in 2022 by Joe Doherty
*@



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an ongoing project to practice using Razor, Javascript, C#, and all that</p>
    <p>This page is currently just me messing with core concepts trying to figure stuff out</p>
</div>


@*Tabs*@
<button onclick="showDiv('addCalcDiv')">Toggle addition calculator</button>
<button onclick="showDiv('razorMagic')">Toggle Razor Magic Div</button>
@* Revealers *@
<div id="addCalcDiv" style="display: none;">
    <h3>This is just an addition calculator to test forms</h3>
    <form>
        <label for="num1">Number to Add</label>
        <input typeof="text" id="num1" name="num1">
        <label for="num2">Number to Add</label>
        <input typeof="text" id="num2" name="num2">
        <button onclick="addCalc();return false;">Add!</button>
    </form>
    <h4 id="answer">Your answer will appear here</h4>
</div>


<div id="razorMagic" style="display: none;">
    <p>The div toggle is working</p>
    @* I DONT KNOW WHY THIS IS SO HARD WHY CANT I JUST LOOP THROUGH MY ARRAY AND SHOVE THE VALUE INTO AN HTMLHELPER THING *@
    


</div>



<!--Below be Javascript-->
<script>
    // Does math
    function addCalc(){
        const num1 = document.getElementById("num1").value;
        const num2 = document.getElementById("num2").value;
        //const answer = document.getElementById("answer").innerHTML;
        let sum = Number(num1) + Number(num2);
        document.getElementById("answer").innerHTML = sum;
    }
    // Toggles the visibility of the div
    function showDiv(divClass){
        if(document.getElementById(divClass).style.display == "block"){
            document.getElementById(divClass).style.display="none";
        } else {
            document.getElementById(divClass).style.display="block";
        }

    }

</script>